.cnt {
    max-width: 1170px; /* Максимальная ширина контейнера (1222 пикселя) */
    width: 100%; /* Ширина контейнера занимает 100% доступного пространства */
    margin-left: auto; /* Автоматические отступы слева для центрирования контейнера */
    margin-right: auto; /* Автоматические отступы справа для центрирования контейнера */
}